.main-cart {
    padding: 30px 50px;

    .header {
        font-size: 25px;
        font-weight: 800;
        text-align: center;
        color: #d82e4d;
        margin-bottom: 30px;
    }

    .main {
        .table-product {
            .product {
                display: flex;
                align-items: center;
                img {
                    margin-right: 10px;
                }
                .product_name {
                   
                }
            }
            .money {
                margin-top: 15px;

                .sale {
                    color: #d82e4d;
                    font-size: 16px;
                    margin: 3px 17px 0px 0px;
                }

                .origin {
                    color: #747071;
                    font-size: 14px;
                    margin-right: 20px;
                }
            }
            .total {
                .sale {
                    color: #d82e4d;
                    font-size: 18px;
                }
            }
            .quantity {
                display: flex;
                .quantity-toggle {
                    margin: 0 auto;
                    .input-quantity {
                        width: 50px;
                        background-color: #f2f2f2;
                        border: none;
                        text-align: center;
                    }
                }
            }

            .icon-delete {
                padding-top: 6px;
            }
        } 

        .info-payment {
            .total-money {
                margin-bottom: 5px;
                font-size: 17px;
            }
            .voucher {
                margin-bottom: 5px;
                font-size: 17px;
            }
            .shipping {
                margin-bottom: 5px;
                font-size: 17px;
            }
            .payment {
                margin-bottom: 5px;
                font-size: 17px;
            }
            .payment-format {
                font-size: 17px;
                .text {
                    margin-bottom: 5px; 
                }
            }
        }
    }

    .info-order {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
    }

    .info-order-content {
        text-align: center;
        .note-text {
            
        }
    }
    .empty-cart {
        margin: 100px 0px;
        text-align: center;
    }
}