.main-cart {
    padding: 30px 150px;

    .header {
        font-size: 25px;
        font-weight: 800;
        text-align: center;
        color: #d82e4d;
        margin-bottom: 30px;
    }

    .info-order {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
    }

    .info-order-content {
        text-align: center;
        .note-text {
            
        }
    }
}