.main-login {
    max-width: 600px;
    margin: 0 auto;
    .text {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #d82e4d;
        margin: 50px 0px 20px 0px;
    }

    .form-login {
        .login-form-button {
            width: 70%;
            margin: 0px 0px 30px 0px;
            border-radius: 10px;
        }
    }
}