.footer {
    height: 60px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
  
    .footer-right {
      display: flex;
      justify-content: flex-end;
  
      div {
        padding-left: 20px;
        
        b {
          color: #000;
        }
  
        a {
          color: #666666;
        }
      }
    }
  }